@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply font-custom;
}

/* IconButton */
.icon-button {
  @apply bg-yellow-300 border border-gray-200 p-4 transition-all;
  @apply flex justify-center items-center;
  width: 60px; /* Fixed width */
  height: 60px; /* Fixed height */
  box-shadow: -4px 4px 0px 0px rgba(0,0,0,0.75); /* Left bottom shadow */
}

.icon-button:hover {
  @apply bg-white;
}

.icon-button:active {
  @apply bg-gray-300;
}

.icon-button.active {
  @apply bg-black text-yellow-400;
}

.icon {
  font-size: 24px;
}

/* Ensure corners are not rounded */
.icon-button {
  @apply rounded-none;
}

/* StatusButton */
.status-button {
  @apply bg-yellow-300 border border-gray-200 p-4 transition-all;
  @apply flex justify-center items-center;
  min-width: 100px; /* Min width to hold text */
  height: 60px; /* Fixed height */
  box-shadow: -4px 4px 0px 0px rgba(0,0,0,0.75); /* Left bottom shadow */
}

.status-button:hover {
  @apply bg-white;
}

.status-button:active {
  @apply bg-gray-300;
}

.status-button.active {
  @apply bg-black text-yellow-400;
}

/* ThreeDotButton */
.three-dot-button {
  @apply bg-yellow-300 border border-gray-200 p-4 transition-all;
  @apply flex justify-center items-center;
  width: 60px; /* Fixed width */
  height: 60px; /* Fixed height */
  box-shadow: -4px 4px 0px 0px rgba(0,0,0,0.75); /* Left bottom shadow */
}

.three-dot-button:hover {
  @apply bg-white;
}

.three-dot-button:active {
  @apply bg-gray-300;
}

.three-dot-button.active {
  @apply bg-black text-yellow-400;
}

/* ChatInput */
.chat-input-container {
  @apply flex items-center shadow-md bg-white;
  height: 40px;
  width: 100%;
  max-width: 400px; /* Adjusted max width */
  box-shadow: -4px 4px 0px 0px rgba(0,0,0,1); /* Black left bottom shadow */
}

.chat-input {
  @apply flex-grow p-2 outline-none bg-transparent border-none w-full;
}

.send-button {
  @apply p-2 bg-white text-black;
  box-shadow: -4px 4px 0px 0px rgba(0,0,0,1); /* Black left bottom shadow */
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* ChatBubble */
.chat-bubble-container {
  @apply flex flex-col max-w-full;
}

.chat-bubble-container.user {
  @apply items-end;
}

.chat-bubble-container.bot {
  @apply items-start;
}

.timestamp {
  @apply text-xs text-pink-600 bg-pink-200 px-1 rounded-sm mb-1;
}

.chat-bubble {
  @apply flex flex-col p-2 shadow-md;
  max-width: 75%;
  box-shadow: -4px 4px 0px 0px rgba(0,0,0,0.75);
}

.chat-bubble.user {
  @apply bg-white self-end;
}

.chat-bubble.bot {
  @apply bg-blue-200 self-start;
}

.message {
  @apply text-black;
}

/* Messages container */
.messages-container {
  @apply h-full max-h-96 overflow-y-auto p-2 space-y-2;
  scrollbar-width: thin;
  scrollbar-color: rgba(107, 114, 128) rgba(229, 231, 235);
}

.messages-container::-webkit-scrollbar {
  width: 8px;
}

.messages-container::-webkit-scrollbar-track {
  background: rgba(229, 231, 235);
}

.messages-container::-webkit-scrollbar-thumb {
  background-color: rgba(107, 114, 128);
  border-radius: 10px;
  border: 2px solid rgba(229, 231, 235);
}
